In [3]:
import pandas as pd
import numpy as np
Credit = pd.read_csv('../Data/Credit.csv')
Credit

,Income,Limit,Rating,Cards,Age,Education,Own,Student,Married,Region,Balance
0,14.891,3606,283,2,34,11,No,No,Yes,South,333
1,106.025,6645,483,3,82,15,Yes,Yes,Yes,West,903
2,104.593,7075,514,4,71,11,No,No,No,West,580
3,148.924,9504,681,3,36,11,Yes,No,No,West,964
4,55.882,4897,357,2,68,16,No,No,Yes,South,331
...,...,...,...,...,...,...,...,...,...,...,...
395,12.096,4100,307,3,32,13,No,No,Yes,South,560
396,13.364,3838,296,5,65,17,No,No,No,East,480
397,57.872,4171,321,5,67,12,Yes,No,Yes,South,138
398,37.728,2525,192,1,44,13,No,No,Yes,South,0
399,18.701,5524,415,5,64,7,Yes,No,No,West,966

In [5]:
# What are the feature names?
Credit.columns

Index(['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Own',
       'Student', 'Married', 'Region', 'Balance'],
      dtype='object')

In [ ]:
# What are the data types of the feature values (i.e., numeric, categorical)

In [ ]:
# Find the mean, median, and mode of the feature "Age."

In [ ]:
# Create a histogram for the age variable.
# You'll need to import "subplots" to do this
from matplotlib.pyplot import subplots

In [ ]:
# Create a subset of Credit that only contains the columns Age, Region, and Income. Call it "Subset."

In [ ]:
# From this subset, create two partitions: 
    # One that contains records for Ages below 50, and one that contains Ages 50+
    # Call them "Younger" and "Older"

In [ ]:
# Use these partitions to compare the mean and median Income for each age group (less than 50 vs. 50+)

In [ ]:
# What does the difference between mean and median suggest about the distribution of income?

In [ ]:
# What are the possible values for Region?

In [ ]:
# Use the value_counts method to build a frequency table for the possible values of Region.

In [ ]:
# Compare the average income for students vs. non-students.

In [ ]:
# Often banks use a variable called "utilization" to assess credit risk.
    # Utilization is the ratio of balance to limit (i.e., what % of the credit limit is being used?)
# Add a feature to the Credit dataset to measure utilization

In [ ]:
# What is the maximum utilization value in this set?

In [ ]:
# Describe other features of the record containing the maximum utilization.

In [ ]:
# What are the maximum and minimum credit ratings in this data?

In [ ]:
# What variable do you think is most predictive of "Rating"? How does the data support your answer?